Repository AcquimAuto/atlantis-example: changes, and which Atlantis projects are due for each by the changed paths.
All: single-account, multi-account-env, multi-account-legacy, multi-account-shared-services, multi-account-organisations

single-account:
  dir: ./
  automerge: true
  terraform_version: v0.15.3
  workflow: workspaced

multi-account-env:
  dir: ./
  workflow: workspaced

multi-account-legacy:
  dir: ./
  workflow: workspaced

multi-account-shared-services:
  dir: ./
  workflow: non-workspaced

multi-account-organisations:
  dir: ./
  workflow: non-workspaced

this is a test
  main.tf
Due: single-account

Update atlantis.yaml
  atlantis.yaml
Due: none

...
  atlantis.yaml
Due: none

Update main.tf
  main.tf
Due: single-account

Delete atlantis.yaml
  atlantis.yaml
Due: none

...
  multi-accounts/aws-accounts/env-account/test1.tf
  multi-accounts/aws-accounts/legacy/test2.tf
  multi-accounts/aws-accounts/shared-services/test4.tf
  multi-accounts/aws-organizations/test3.tf
Due: multi-account-organisations

Path conditions:
  single-account: any of: **/*.tf*, but not: **/multi-accounts
  multi-account-env: any of: **/multi-accounts/env-account/**/*.tf*
  multi-account-legacy: any of: **/multi-accounts/legacy/**/*.tf*
  multi-account-shared-services: any of: **/multi-accounts/shared-services/**/*.tf*
  multi-account-organisations: any of: **/aws-organizations/**/*.tf*
